<!DOCTYPE html>
<html class="no-js" id="ng-app" ng-app="dri-app">
    <head>
        <!-- This meta tag ensures proper rendering and touch zooming on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1;">

        <!-- Stylesheet for the angucomplete-alt autocomplete control -->
        <link rel="stylesheet" href="css/angucomplete-alt.css"/> 

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Angular JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-touch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>

        <!-- Script for the angucomplete-alt autocomplete control -->
        <script src="js/angucomplete-alt.min.js"></script>

        <!-- Script for application  -->
        <script src="js/dri-app.js"></script>
        <script src="js/tab.js"></script>
    </head>

    <!--

    <BODY>

    -->
    <body ng-controller="dri-app-ctrl" style="padding-top: 50px; padding-bottom: 50px;">
        <!-- Enables a scaling, full-width viewport -->
        <div class="container-fluid">
            <!-- 

            SEARCH PANEL

            -->
            <!-- Header without Search Again image -->
            <div ng-hide="result" class="navbar navbar-fixed-top" style="height: 50px; background: #0A3152;">
                <img src="images/HHS-Logo.png" style="vertical-align: middle; padding: 10px;"><span style="vertical-align: middle; color: white;">&nbsp;U.S. Department of Health and Human Services</span>
            </div>

            <!-- Row (which is basically the Search panel) -->
            <div ng-hide="result" class="row"><div class="col-xs-12"> <!-- and a single column the full width of the viewport -->
                <!-- Logo -->
                <img class="img-responsive" src="images/DrugRisk-Logo.jpg" style="display: block; margin-left: auto; margin-right: auto; padding: 100px 20px 20px 20px;">
                <!-- Search Bar -->
                <div angucomplete-alt 
                     id="drugsID" 
                     placeholder="Search at open.FDA.gov"
                     maxlength="50"
                     pause="400" 
                     selected-object="doGetFromServer"
                     remote-url="rest/services/getDrugNames/"
                     remote-url-data-field="names"
                     search-fields="name"
                     title-field="name"
                     minlength="2"
                     input-class="form-control form-control-small"
                     match-class="highlight" 
                     style="width: 50%; display: block; margin-left: auto; margin-right: auto;"
                     >
                </div> <!-- autocomplet-alt -->
                <br/>
                <br/>
                <ul style="width: 40%; display: block; margin-left: auto; margin-right: auto;" class="list-group">
                    <a href="#" class="list-group-item active">
                        Most Popular Recent Searches
                    </a>
                    <div ng-repeat="recentsearch in recentsearches">
                        <a href="#" class="list-group-item">
                            <span class="badge">{{recentsearch.views}}</span>
                            {{recentsearch.searchName}}
                        </a>
                    </div>
                </ul>
            </div></div> <!-- col, row -->

            <!--

            RESULTS PANEL

            -->
            <!-- Header with Search Again image -->
            <div ng-show="result" class="navbar navbar-fixed-top" style="height: 50px; background: #0A3152;">
                <img src="images/HHS-Logo.png" style="vertical-align: middle; padding: 10px;"><span style="vertical-align: middle; color: white;">&nbsp;U.S. Department of Health and Human Services</span>
                <a href="./index.html"><img alt="Search Again" src="images/Search-Button.jpg" style="border: 0; vertical-align: middle; padding: 7px; float: right;"></a>
            </div>

            <!-- Row (which is basically the Results panel)-->
            <div ng-show="result" class="row"><div class="col-xs-12"> <!-- and a single column the full width of the viewport -->
                <!-- START: The tabs for Label, Events, and Enforcements -->
                <div style="width: 75%; display: block; margin-left: auto; margin-right: auto; margin-top: 3em; margin-bottom: 1em; word-wrap: break-word;">
                    <!-- START: Panel above the tabs to show the drug name information -->
                    <div ng-show="result.label.results[0].openfda.brand_name[0]" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>{{result.label.results[0].openfda.brand_name[0]}}</b></h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li ng-show="result.label.results[0].openfda.brand_name[0]" class="list-group-item"><b>Brand Name: </b>{{result.label.results[0].openfda.brand_name[0]}}</li>
                                <li ng-show="result.label.results[0].openfda.manufacturer_name[0]" class="list-group-item"><b>Manufacturer Name: </b>{{result.label.results[0].openfda.manufacturer_name[0]}}</li>
                                <li ng-show="result.label.results[0].openfda.generic_name[0]" class="list-group-item"><b>Generic Name(s): </b>{{result.label.results[0].openfda.generic_name[0]}}</li>
                            </ul>
                        </div>
                    </div>                    
                        
                    <!-- START: Declare the three tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#label" aria-controls="label" role="tab" data-toggle="{{result.label.results && 'tab' || '' }}"><span style="{{result.label.results && ';' || 'color: LightGray;' }}">Label</span></a></li>
                      <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="{{result.events.results && 'tab' || '' }}"><span style="{{result.events.results && ';' || 'color: LightGray;' }}">Adverse Events</span></a></li>
                      <li role="presentation"><a href="#enforcements" aria-controls="enforcements" role="tab" data-toggle="{{result.enforcements.results && 'tab' || '' }}"><span style="{{result.enforcements.results && ';' || 'color: LightGray;' }}">Enforcements</span></a></li>
                    </ul> <!-- END: Declare the three tabs -->

                    <!-- START: Tab panes -->
                    <div class="tab-content">
                        <!-- START: Label Pane -->
                        <div role="tabpanel" class="tab-pane active" id="label">
                            <div class="panel panel-default"> <!-- START: Panel Definition -->
                                <div class="panel-body"> <!-- START: Panel Group Body -->
                                    <!-- START: Panel group for all of the accordions within Label -->
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <!-- START: Panel for Indications and Usage -->                
                                        <div ng-show="result.label.results[0].indications_and_usage[0]" class="panel panel-default">
                                            <!-- START: Header for panel -->
                                            <div class="panel-heading" role="tab" id="phIndications">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cIndications" aria-expanded="true" aria-controls="cIndications">
                                                        Indications and Usage
                                                    </a>
                                                </h4>
                                            </div> <!-- END: Header for panel -->
                                            <!-- START: Body for panel -->
                                            <div id="cIndications" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="phIndications">
                                                <div class="panel-body">
                                                    {{result.label.results[0].indications_and_usage[0]}} 
                                                </div>
                                            </div> <!-- END: Body for panel -->
                                        </div> <!-- END: Panel for Indications and Usage -->  

                                        <!-- START: Panel for Dosage and Administration -->
                                        <div ng-show="result.label.results[0].dosage_and_administration[0]" class="panel panel-default">
                                            <!-- START: Header for panel -->
                                            <div class="panel-heading" role="tab" id="phDosage">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cDosage" aria-expanded="false" aria-controls="cDosage">
                                                        Dosage and Administration
                                                    </a>
                                                </h4>
                                            </div> <!-- END: Header for panel -->
                                            <!-- START: Body for panel -->
                                            <div id="cDosage" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phDosage">
                                                <div class="panel-body">
                                                    {{result.label.results[0].dosage_and_administration[0]}} 
                                                </div>
                                            </div> <!-- END: Body for panel -->
                                        </div> <!-- END: Panel for Dosage and Administration -->

                                        <!-- START: Panel for Purpose -->
                                        <div ng-show="purposeTable" class="panel panel-default">
                                            <!-- START: Header for panel -->
                                            <div class="panel-heading" role="tab" id="phPurpose">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cPurpose" aria-expanded="false" aria-controls="cPurpose">
                                                        Purpose
                                                    </a>
                                                </h4>
                                            </div> <!-- END: Header for panel -->
                                            <!-- START: Body for panel -->
                                            <div id="cPurpose" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phPurpose">
                                                <div style="align: center;" class="panel-body">
                                                    <div ng-show="result.label.results[0].purpose[0]"><i>{{result.label.results[0].purpose[0]}}</i></div><br>
                                                    <div ng-bind-html="purposeTable"></div>       
                                                </div>
                                            </div> <!-- END: Body for panel -->
                                        </div> <!-- END: Panel for Purpose -->

                                        <!-- START: Panel for Package Labels -->
                                        <div ng-show="result.label.results[0].package_label_principal_display_panel" class="panel panel-default">
                                            <!-- START: Header for panel -->
                                            <div class="panel-heading" role="tab" id="phPackageLabel">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cPackageLabel" aria-expanded="false" aria-controls="cPackageLabel">
                                                        Package Label(s)
                                                    </a>
                                                </h4>
                                            </div> <!-- END: Header for panel -->
                                            <!-- START: Body for panel -->
                                            <div id="cPackageLabel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phPackageLabel">
                                                <div style="align: center;" class="panel-body">
                                                    <ul class="list-group">
                                                        <div ng-repeat="packageLabel in result.label.results[0].package_label_principal_display_panel">
                                                            <li class="list-group-item">{{packageLabel}}</li>
                                                        </div>  
                                                    </ul>                                                    
                                                </div>
                                            </div> <!-- END: Body for panel -->
                                        </div> <!-- END: Panel for Package Labels -->
                                        
                                         <!-- START: Panel for Ingredients -->
                                        <div ng-show="result.label.results[0].active_ingredient || result.label.results[0].inactive_ingredient" class="panel panel-default">
                                            <!-- START: Header for panel -->
                                            <div class="panel-heading" role="tab" id="phIngredients">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cIngredients" aria-expanded="false" aria-controls="cIngredients">
                                                        Ingredients
                                                    </a>
                                                </h4>
                                            </div> <!-- END: Header for panel -->
                                            <!-- START: Body for panel -->
                                            <div id="cIngredients" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phIngredients">
                                                <div style="align: center;" class="panel-body">
                                                    <ul class="list-group">
                                                        <li ng-show="result.label.results[0].active_ingredient" class="list-group-item">
                                                            <b>Active Ingredients: </b>{{result.label.results[0].active_ingredient[0]}}<br/><br/>
                                                            <div ng-bind-html="activeIngredientTable"></div> 
                                                        </li>
                                                        <li ng-show="result.label.results[0].inactive_ingredient" class="list-group-item"><b>Inactive Ingredients: </b>{{result.label.results[0].inactive_ingredient[0]}}</li>
                                                    </ul>                                                  
                                                </div>
                                            </div> <!-- END: Body for panel -->
                                        </div> <!-- END: Panel for Ingredients -->
                                        
                                        <!-- START: Panel for Warnings and Indications -->
                                        <div class="panel panel-default">
                                            <!-- START: Header for panel -->
                                            <div class="panel-heading" role="tab" id="phWarnings">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cWarnings" aria-expanded="false" aria-controls="cWarnings">
                                                        Warnings and Indications
                                                    </a>
                                                </h4>
                                            </div> <!-- END: Header for panel -->
                                            <!-- START: Body for panel -->
                                            <div id="cWarnings" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phWarnings">
                                                <div style="align: center;" class="panel-body">
                                                     <ul class="list-group">
                                                        <li ng-show="result.label.results[0].abuse" class="list-group-item">{{result.label.results[0].abuse[0]}}</li>
                                                        <li ng-show="result.label.results[0].adverse_reactions" class="list-group-item">{{result.label.results[0].adverse_reactions[0]}}</li>
                                                        <li ng-show="result.label.results[0].ask_doctor" class="list-group-item">{{result.label.results[0].ask_doctor[0]}}</li>
                                                        <li ng-show="result.label.results[0].ask_doctor_or_pharmacist" class="list-group-item">{{result.label.results[0].ask_doctor_or_pharmacist[0]}}</li>
                                                        <li ng-show="result.label.results[0].boxed_warning" class="list-group-item">{{result.label.results[0].boxed_warning[0]}}</li>
                                                        <li ng-show="result.label.results[0].carcinogenesis_and_mutagenesis_and_impairment_of_fertility" class="list-group-item">{{result.label.results[0].carcinogenesis_and_mutagenesis_and_impairment_of_fertility[0]}}</li>
                                                        <li ng-show="result.label.results[0].clinical_pharmacology" class="list-group-item">
                                                                {{result.label.results[0].clinical_pharmacology[0]}}<br/><br/>
                                                                <div ng-bind-html="clinicalPharmacologyTable"></div>
                                                        </li>
                                                        <li ng-show="result.label.results[0].contraindications" class="list-group-item">{{result.label.results[0].contraindications[0]}}</li>
                                                        <li ng-show="result.label.results[0].controlled_substance" class="list-group-item">{{result.label.results[0].controlled_substance[0]}}</li>
                                                        <li ng-show="result.label.results[0].dependence" class="list-group-item">{{result.label.results[0].dependence[0]}}</li>
                                                        <li ng-show="result.label.results[0].description" class="list-group-item">{{result.label.results[0].description[0]}}</li>
                                                        <li ng-show="result.label.results[0].do_not_use" class="list-group-item">{{result.label.results[0].do_not_use[0]}}</li>
                                                        <li ng-show="result.label.results[0].drug_abuse_and_dependence" class="list-group-item">{{result.label.results[0].drug_abuse_and_dependence[0]}}</li>
                                                        <li ng-show="result.label.results[0].drug_and_or_laboratory_test_interactions" class="list-group-item">{{result.label.results[0].drug_and_or_laboratory_test_interactions[0]}}</li>
                                                        <li ng-show="result.label.results[0].drug_interactions" class="list-group-item">{{result.label.results[0].drug_interactions[0]}}</li>
                                                        <li ng-show="result.label.results[0].general_precautions" class="list-group-item">{{result.label.results[0].general_precautions[0]}}</li>
                                                        <li ng-show="result.label.results[0].how_supplied" class="list-group-item">{{result.label.results[0].how_supplied[0]}}</li>
                                                        <li ng-show="result.label.results[0].information_for_patients" class="list-group-item">{{result.label.results[0].information_for_patients[0]}}</li>
                                                        <li ng-show="result.label.results[0].keep_out_of_reach_of_children" class="list-group-item">{{result.label.results[0].keep_out_of_reach_of_children[0]}}</li>
                                                        <li ng-show="result.label.results[0].labor_and_delivery" class="list-group-item">{{result.label.results[0].labor_and_delivery[0]}}</li>
                                                        <li ng-show="result.label.results[0].laboratory_tests" class="list-group-item">{{result.label.results[0].laboratory_tests[0]}}</li>
                                                        <li ng-show="result.label.results[0].nonteratogenic_effects" class="list-group-item">{{result.label.results[0].nonteratogenic_effects[0]}}</li>
                                                        <li ng-show="result.label.results[0].nursing_mothers" class="list-group-item">{{result.label.results[0].nursing_mothers[0]}}</li>
                                                        <li ng-show="result.label.results[0].overdosage" class="list-group-item">{{result.label.results[0].overdosage[0]}}</li>
                                                        <li ng-show="result.label.results[0].pediatric_use" class="list-group-item">{{result.label.results[0].pediatric_use[0]}}</li>
                                                        <li ng-show="result.label.results[0].pharmacodynamics" class="list-group-item">
                                                                {{result.label.results[0].pharmacodynamics[0]}}<br/><br/>
                                                                <div ng-bind-html="pharmacodynamicsTable"></div>
                                                        </li>
                                                        <li ng-show="result.label.results[0].pharmacokinetics" class="list-group-item">
                                                                {{result.label.results[0].pharmacokinetics[0]}}<br/><br/>
                                                                <div ng-bind-html="pharmacokineticsTable"></div>
                                                        </li>
                                                        <li ng-show="result.label.results[0].precautions" class="list-group-item">{{result.label.results[0].precautions[0]}}</li>
                                                        <li ng-show="result.label.results[0].pregnancy_or_breast_feeding" class="list-group-item">{{result.label.results[0].pregnancy_or_breast_feeding[0]}}</li>
                                                        <li ng-show="result.label.results[0].questions" class="list-group-item">{{result.label.results[0].questions[0]}}</li>
                                                        <li ng-show="result.label.results[0].stop_use" class="list-group-item">{{result.label.results[0].stop_use[0]}}</li>
                                                        <li ng-show="result.label.results[0].storage_and_handling" class="list-group-item">{{result.label.results[0].storage_and_handling[0]}}</li>
                                                        <li ng-show="result.label.results[0].warnings" class="list-group-item">
                                                            {{result.label.results[0].warnings[0]}}<br/><br/>
                                                            <div ng-bind-html="warningsTable"></div> 
                                                        </li>
                                                    </ul>                                                    
                                                </div>
                                            </div> <!-- END: Body for panel -->
                                        </div> <!-- END: Panel for Warnings and Indications -->

                                    </div> <!-- END: Panel group for all of the accordions within Label -->       
                                </div> <!-- END: Panel Group Body -->
                            </div> <!-- END: Panel Definition -->
                        </div> <!-- END: Label Pane -->

                        <!-- START: Events Pane -->
                        <div role="tabpanel" class="tab-pane" id="events">
                            <div class="panel panel-default"> <!-- START: Panel Definition -->
                                <div class="panel-body"> <!-- START: Panel Body -->
                                    <div style="align: center;" class="panel-body">
                                        <div ng-repeat="event in result.events.results">
                                            <div class="panel panel-default">
                                                <!-- START: Header for panel -->
                                                <div class="panel-heading" role="tab" id="phAdverseEvents{{$index+1}}">
                                                    <h4 class="panel-title">
                                                        <a style="text-decoration: none;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cAdverseEvents{{$index+1}}" aria-expanded="false" aria-controls="cAdverseEvents{{$index+1}}">
                                                            <span class="label label-default">{{$index+1}}</span>&nbsp;Event report&nbsp;<b>{{event.safetyreportid}}</b> on {{event.receiptdate+'T120101Z' | date}} in {{event.primarysourcecountry}}<span ng-show="event.companynumb"> re: {{event.companynumb}}</span>
                                                        </a>
                                                    </h4>
                                                </div> <!-- END: Header for panel -->
                                                <!-- START: Body for panel -->
                                                <div id="cAdverseEvents{{$index+1}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phAdverseEvents{{$index+1}}">
                                                    <div style="align: center;" class="panel-body">
                                                        <div ng-switch on="{{event.patient.patientonsetageunit}}">
                                                            <div ng-switch-when="800"><b>Reaction by {{event.patient.patientonsetage}} decade(s), {{event.patient.patientsex == 1 && 'male' || 'female' }}</b></div>
                                                            <div ng-switch-when="801"><b>Reaction by {{event.patient.patientonsetage}} years(s), {{event.patient.patientsex == 1 && 'male' || 'female' }}</b></div>
                                                            <div ng-switch-when="802"><b>Reaction by {{event.patient.patientonsetage}} months(s), {{event.patient.patientsex == 1 && 'male' || 'female' }}</b></div>
                                                            <div ng-switch-when="803"><b>Reaction by {{event.patient.patientonsetage}} week(s), {{event.patient.patientsex == 1 && 'male' || 'female' }}</b></div>
                                                            <div ng-switch-when="804"><b>Reaction by {{event.patient.patientonsetage}} day(s), {{event.patient.patientsex == 1 && 'male' || 'female' }}</b></div>
                                                            <div ng-switch-when="805"><b>Reaction by {{event.patient.patientonsetage}} hour(s), {{event.patient.patientsex == 1 && 'male' || 'female' }}</b></div>
                                                            <div ng-switch-default><b>Reaction by {{event.patient.patientsex == 1 && 'male' || 'female' }}</b></div>
                                                        </div>
                                                        <ul>     
                                                            <div ng-repeat="reaction in event.patient.reaction">
                                                                <div ng-switch on="{{reaction.reactionoutcome}}">
                                                                    <div ng-switch-when="1"><li>{{reaction.reactionmeddrapt}}, recovered/resolved.</li></div>
                                                                    <div ng-switch-when="2"><li>{{reaction.reactionmeddrapt}}, recovering/resolving.</li></div>
                                                                    <div ng-switch-when="3"><li>{{reaction.reactionmeddrapt}}, not recovered/not resolved.</li></div>
                                                                    <div ng-switch-when="4"><li>{{reaction.reactionmeddrapt}}, recovered/resolved with sequelae.</li></div>
                                                                    <div ng-switch-when="5"><li>{{reaction.reactionmeddrapt}}, fatal.</li></div>
                                                                    <div ng-switch-default><li>{{reaction.reactionmeddrapt}}, unknown outcome.</li></div>
                                                                </div>
                                                            </div>
                                                        </ul>
                                                        <b>Potential related drugs(s)</b>
                                                        <ul>     
                                                            <div ng-repeat="drug in event.patient.drug">
                                                                <div ng-switch on="{{drug.drugcharacterization}}">
                                                                    <div ng-switch-when="1"><li>{{drug.medicinalproduct}} {{drug.drugdosageform}}, suspect.</li></div>
                                                                    <div ng-switch-when="2"><li>{{drug.medicinalproduct}} {{drug.drugdosageform}}, concomitant.</li></div>
                                                                    <div ng-switch-when="3"><li>{{drug.medicinalproduct}} {{drug.drugdosageform}}, interacting.</li></div>
                                                                    <div ng-switch-default><li>{{drug.medicinalproduct}} {{drug.drugdosageform}}, unknown relation.</li></div>
                                                                </div>
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div> <!-- END: Body for panel -->
                                            </div> 
                                        </div>  
                                    </div>
                                </div> <!-- END: Panel Body -->
                            </div> <!-- END: Panel Definition -->
                        </div> <!-- END: Events Pane -->

                        <!-- START: Enforcements Pane -->                            
                        <div role="tabpanel" class="tab-pane" id="enforcements">
                            <div class="panel panel-default"> <!-- START: Panel Definition -->
                                <div class="panel-body"> <!-- START: Panel Body -->
                                    <div ng-repeat="enforce in result.enforcements.results">
                                        <div class="panel panel-default">
                                            <!-- START: Header for panel -->
                                            <div class="panel-heading" role="tab" id="phEnforcements{{$index+1}}">
                                                <h4 class="panel-title">
                                                    <a style="text-decoration: none;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cEnforcements{{$index+1}}" aria-expanded="false" aria-controls="cEnforcements{{$index+1}}">
                                                        <span class="label label-default">{{$index+1}}</span>&nbsp;Recall&nbsp;<b>{{enforce.recall_number}}</b> on {{enforce.recall_initiation_date+'T120101Z' | date}}</span>
                                                    </a>
                                                </h4>
                                            </div> <!-- END: Header for panel -->
                                            <!-- START: Body for panel -->
                                            <div id="cEnforcements{{$index+1}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="phEnforcements{{$index+1}}">
                                                <div style="align: center;" class="panel-body">
                                                    <ul>     
                                                        <li><b>Reason for Recall</b><br/>{{enforce.reason_for_recall}}</li>
                                                        <li><b>Recalling Firm</b><br/>{{enforce.recalling_firm}}</li>
                                                        <li><b>Product Description</b><br/>{{enforce.product_description}}</li>
                                                        <li><b>Product Quantity</b><br/>{{enforce.product_quantity}}</li>
                                                        <li><b>Distribution Pattern</b><br/>{{enforce.distribution_pattern}}</li>
                                                        <li><b>Classification</b><br/>{{enforce.classification}}</li>
                                                        <li><b>Report Date</b><br/>{{enforce.report_date+'T120101Z'| date}}</li>
                                                        <li><b>Initial Notification</b><br/>{{enforce.initial_firm_notification}}</li>
                                                        <li><b>Code Info</b><br/>{{enforce.code_info}}</li>
                                                        <li><b>Status</b><br/>{{enforce.status}}</li>
                                                        <li><b>Source</b><br/>{{enforce.voluntary_mandated}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- END: Panel Body -->
                                </div> <!-- END: Panel Definition -->
                            </div> <!-- END: Enforcements Pane -->
                        </div> <!-- END: Tab panes -->    
                    </div> <!-- END: The tabs for Label, Events, and Enforcements -->                  
                </div></div> <!-- col, row -->
            </div>
            <!--

            FOOTER (SAME FOR ALL PANELS)

            -->
            <div class="navbar navbar-fixed-bottom" style="height: 50px; background: #0A3152;">
                    <img src="images/FDA-Logo.png" style="vertical-align: middle; padding: 10px 10px 10px 20px;"><span style="vertical-align: middle; color: white;"/>
            </div>
        </div> <!-- container-fluid -->
    </body>
</html>
